.searchbar{
    margin: 0 auto;
    display: block;
    background: rgb(68 85 176);
    padding: 10px;
}
.form{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 280px;
    position: relative;
}
.input{
    padding: 5px 10px;
    border-radius: 20px;
    width: 100%;
}
.button{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}